<nav class="nav-bar">
  <ul>
    <li>
      <a href="/shop" class="<%= path==='Shop'?'hello ':'' %>">Shop</a>
    </li>
    <li>
      <a href="http://">Products</a>
    </li>
    <li>
      <a href="http://">Cart</a>
    </li>
    <li>
      <a href="http://">Add Product</a>
    </li>
    <li><a href="http://">Admin Products </a></li>
  </ul>
</nav>
